/* ---- Общие стили ---- */

*{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}



$pixels: 16px;

@function calc-px($px) {
  @return $px/$pixels+rem;
}

.content{
  width: calc-px(1170px);
  height: calc-px(93px);
  margin: 0 auto;
}

/* ---- Шапка / Навигационная панель ---- */

.header{
  width: 100%;
  height: calc-px(93px);
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Montserrat;
  z-index: 100;
  position: absolute;
  top: 0;
  .content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &-content{
    &__nav{
      display: flex;
      flex-direction: column;
      width: calc-px(970px);
      &-contacts{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: calc-px(0.5px) solid #A7A7A7;
        padding-bottom: calc-px(7.12px);
        &__item{
          display: flex;
          flex-direction: row;
          align-items: center;
          p{
            margin-left: calc-px(8px);
            font-style: normal;
            font-weight: normal;
            color: #000000;
          }
          a{
            color: #000000;
            font-style: normal;
            font-weight: normal;
          }
          &-light-text{
            font-size: calc-px(14px);
            line-height: 18px;
          }
          &-medium-text{
            font-size: calc-px(15px);
            line-height: 160%;
          }
          &-phone{
            font-size: calc-px(18px);
            line-height: 22px;
          }
          &-order{
            font-size: calc-px(15px);
            line-height: 160%;
            text-decoration-line: underline;
            font-weight: 600 !important;
          }
        }
      }
      &-navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: calc-px(16.94px);
        a{
          font-style: normal;
          font-weight: normal;
          font-size: calc-px(15px);
          line-height: 18px;
          color: #000000;
        }
      }
    }
  }
}


/* ---- Баннер ---- */

.top-banner{
  position: relative;
  z-index: 5;
  margin-top: calc-px(93px);
  height: 41.55rem;
  overflow: hidden;
  &__word{
    position: absolute;
    top: -2rem;
    left: 0;
    z-index: -1;
  }
  &-pink__block{
    width: calc-px(1351.21px);
    height: 43.54rem;
    right: -1rem;
    top: -2rem;
    position: absolute;
    background: #F6ABC3;
    z-index: -1;
    img:first-child{
      position: absolute;
      left: -1px;
    }
    img:nth-child(2){
      position: absolute;
      bottom: 0;
      right: 19%;
    }
    img:last-child{
      position: absolute;
      bottom: calc-px(-1px);
      right: calc-px(13px);
    }
  }
  .content{
    display: flex;
    flex-direction: column;
    height: 39.92rem;
    justify-content: center;
    z-index: 15;
    h2{
      font-family: Igra Sans;
      font-style: normal;
      font-weight: normal;
      font-size: calc-px(75px);
      line-height: 120%;
      color: #000000;
    }
    p{
      font-family: Manrope;
      font-style: normal;
      font-weight: normal;
      font-size: calc-px(22px);
      line-height: 150%;
      color: #000000;
      margin: calc-px(30px) 0;
    }
    button{
      width: calc-px(198px);
      height: calc-px(70px);
      background: #91D5DE;
      border-radius: calc-px(50px);
      border: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      p{
        margin: 0;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: calc-px(18px);
        line-height: 25px;
        color: #000000;
        background: #91D5DE;
        z-index: 1;
        padding: 0.5rem;
      }
      .white-ring{
        width: calc-px(36px);
        height: calc-px(36px);
        border-radius: 10em;
        background: #FFFFFF;
        position: absolute;
        right: calc-px(20px);
        top: calc-px(17px);
        bottom: calc-px(17px);
      }
    }
  }
}

.button{
  width: calc-px(198px);
  height: calc-px(70px);
  background: #91D5DE;
  border-radius: calc-px(50px);
  border: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  p{
    margin: 0;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: calc-px(18px);
    line-height: 25px;
    color: #000000;
    background: #91D5DE;
    z-index: 1;
    padding: 0.5rem;
  }
  .white-ring{
    width: calc-px(36px);
    height: calc-px(36px);
    border-radius: 10em;
    background: #FFFFFF;
    position: absolute;
    right: calc-px(20px);
    top: calc-px(17px);
    bottom: calc-px(17px);
  }
  &[id="price-btn"]{
    width: calc-px(337px) !important;
    background: #FAB38B;
    p{
      background: #FAB38B;
      margin-right: 0.5rem;
    }
  }
}


/* ---- Цены на основные услуги ---- */

.price{
  margin-bottom: calc-px(140px);
  &-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: calc-px(140px);
    h2{
      font-family: Igra Sans;
      font-style: normal;
      font-weight: normal;
      font-size: calc-px(50px);
      line-height: 140%;
      color: #000000;
    }
  }
  &-table{
    display: flex;
    flex-direction: row;
    width: 100%;

    border: calc-px(1px) solid #91D5DE;
    padding: calc-px(21.5px) calc-px(20px);
    margin-top: calc-px(30px);
    justify-content: space-between;
    align-items: center;
    &__column{
      display: flex;
      flex-direction: column;
      width: calc-px(530px);
      &-row{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        padding: calc-px(8.5px) 0;
        border-bottom: calc-px(1px) solid #E7E7E7;
        p{
          font-style: normal;
          font-weight: normal;
          color: #000000;
          font-size: calc-px(20px);
        }
        p:first-child{
          font-family: Manrope;
          line-height: 27px;
        }
        p:last-child{
          font-family: Montserrat;
          line-height: 24px;
          text-align: right;
        }
      }
      &-row:last-child{
        border-bottom: none;
      }
    }
  }
}

.module-title{
  font-family: Igra Sans;
  font-style: normal;
  font-weight: normal;
  font-size: calc-px(50px) !important;
  line-height: 140%;
  color: #000000;
}
/* ---- Салон и услуги в одном чудесном видео ---- */

.salon{
  margin-top: 25rem;
  position: relative;
  height: calc-px(570.32px);
  display: flex;
  flex-direction: column;
  h2{
    width: calc-px(660.24px);
    line-height: 120%;
  }
  &-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-img__background{
    width: calc-px(470px);
    height: calc-px(550px);
    background: #93D2C2;
  }
  .video-img{
    position: absolute;
    right: 23.96rem;
    top: 1rem;
  }
  .magic{
    position: absolute;
    bottom: 2rem;
    left: 47.55rem;
  }
  &-microdescription{
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: calc-px(16px);
    line-height: 150%;
    color: #000000;
    width: 12%;
    position: absolute;
    bottom: 4rem;
  }
}


/* ---- Доверьте работу над красотой именно нам! ---- */

.garanties{
  margin-top: calc-px(140px);
  height: calc-px(700.31px);
  h2{
    width: 90%;
    margin-bottom: calc-px(70.68px);
  }
  &-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 106%;
    justify-content: space-between;
    &__item{
      display: flex;
      flex-direction: row;
      width: 42%;
      margin-right: calc-px(63px);
      margin-bottom: calc-px(88.63px);
      &-img__block{
        width: 24%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
      &-info{
        display: flex;
        flex-direction: column;
        margin-left: calc-px(58px);
        &__title{
          font-family: Igra Sans;
          font-style: normal;
          font-weight: normal;
          font-size: calc-px(30px);
          line-height: 130%;
          color: #000000;
          width: 100%;
        }
        &__description{
          font-family: Manrope;
          font-style: normal;
          font-weight: normal;
          font-size: calc-px(16px);
          line-height: 150%;
          color: #000000;
          margin-top: calc-px(30px);
          width: 104%;
        }
        a{
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: calc-px(20px);
          img{
            margin-left: calc-px(22px);
          }
        }
      }
    }
  }
}

.garanties-container__item[id='gci-1']{
  margin-left: 0;
}


.garanties-container__item-info__link-text[id='link-text-1']{
    color: #FAB38B;
}

.garanties-container__item-info__link-text[id='link-text-2']{
  color: #F388AA;
}

.garanties-container__item-info__link-text[id='link-text-3']{
  color: #91D5DE;
}


/* ---- Наши услуги ---- */


.services{
  margin-top: calc-px(140px);
  height: 62rem;
  h2{
    margin-bottom: calc-px(70px);
  }
  &-container{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-column{
    &__row{
      display: flex;
      flex-direction: row;
      margin-bottom: calc-px(30px);
      &-item{
        position: relative;
        margin-right: calc-px(30px);
        p{
          position: absolute;
          top: calc-px(25px);
          left: calc-px(26px);
          font-family: Igra Sans;
          font-style: normal;
          font-weight: normal;
          font-size: calc-px(20px);
          line-height: 160%;
          color: #000000;
        }
      }
      &-item[id='ri-1']{
        width: calc-px(270px);
        height: calc-px(270px);
        background: url("./assets/img/services/manikur.png");
      }
      &-item[id='ri-2']{
        width: calc-px(270px);
        height: calc-px(270px);
        background: url("./assets/img/services/pedikur.png");
      }
      &-item[id='ri-3']{
        width: calc-px(270px);
        height: calc-px(270px);
        background: url("./assets/img/services/hands.png"), #E7E7E7;
        background-repeat: no-repeat;
        background-position: right bottom;
      }
      &-item[id='ri-4']{
        width: calc-px(344.7px);
        height: calc-px(270px);
        background: url("./assets/img/services/cover.png");
      }
      &-item[id='ri-5']{
        width: calc-px(495px);
        height: calc-px(270px);
        background: url("./assets/img/services/hands_2.png"), #E7E7E7;
        background-repeat: no-repeat;
        background-position: right bottom;
      }
      &-item[id='ri-6']{
        width: calc-px(270px);
        height: calc-px(270px);
        background: url("./assets/img/services/brow_bar.png");
      }
      &-item[id='ri-7']{
        width: calc-px(270px);
        height: calc-px(270px);
        background: url("./assets/img/services/brow.png");
      }
      &-item[id='ri-8']{
        width: calc-px(270px);
        height: calc-px(270px);
        background: url("./assets/img/services/resnitsi.png");
      }
      &-item[id='ri-9']{
        width: calc-px(270px);
        height: calc-px(470px);
        background: url("./assets/img/services/dop_services.png");
        margin-bottom: calc-px(30px);
      }
      &-item[id='ri-10']{
        width: calc-px(270px);
        height: calc-px(270px);
        background: url("./assets/img/services/resnitsi_2.png");
      }
    }
  }
}


/* ---- Принимаем меры для заботы о клиентах и сотрудниках ---- */


.care{
  height: 35rem;
  h2{
    margin-top: calc-px(140px);
    margin-bottom: calc-px(80px);
  }
  &-slider{
    height: calc-px(558px);
    display: flex;
    position: relative;
    justify-content: space-between;
    .slider-button{
      background: transparent;
      border: 0;
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      height: 32.5rem;
      &__ring{
        width: calc-px(60px);
        height: calc-px(60px);
        border-radius: 10em;
        background: #FAB38B;
      }
    }
    &__item{
      position: relative;
      width: calc-px(283px);
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &-number{
        font-family: Igra Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 100px;
        line-height: 160%;
      }
      &-title{
        font-family: Igra Sans;
        font-style: normal;
        font-weight: normal;
        font-size: calc-px(20px);
        line-height: 20px;
        color: #000000;
        margin: calc-px(20px) 0;
      }
      &-description{
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: calc-px(14px);
        line-height: 150%;
        color: #000000;
      }
    }
  }
}

.care-slider__item[id='csi-1']{
  margin-left: calc-px(100.5px);
  .care-slider__item-number{
    color: #F388AA !important;
    position: absolute;
    left: -3.5rem;
    z-index: -1;
  }
}

.care-slider__item[id='csi-2']{
  .care-slider__item-number{
    color: #91D5DE !important;
    position: absolute;
    left: -3.5rem;
    z-index: -1;
  }
}

.care-slider__item[id='csi-3']{
  margin-right: calc-px(100.5px);
  .care-slider__item-number{
    color: #FAB38B !important;
    position: absolute;
    left: -3.5rem;
    z-index: -1;
  }
}

.slider-button-prev{
  position: absolute;
  left: 0;
  img{
    transform: rotate(180deg);
    opacity: 0.5;
    position: absolute;
    left: calc-px(17.96px);
  }
  .slider-button__ring{
    opacity: 0.5;
  }
}

.slider-button-next{
  position: absolute;
  right: 0;
  img{
    position: absolute;
    right: calc-px(17.96px);
  }
}


/* ---- Наши работы ---- */


.works{
  height: calc-px(710px);
  .price-top{
    margin-top: 15.75rem;
    margin-bottom: calc-px(70px);
    button{
      p{
        margin-right: 0.8rem !important;
      }
    }
  }
  &-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.works-container__column[id='wcc-1']{
  width: calc-px(570px);
  height: calc-px(570px);
  background: url("./assets/img/works/nails_1.png");
}

.works-container__column[id='wcc-2']{
  width: calc-px(570px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  .works-container__column-item{
    margin-bottom: calc-px(30px);
  }
  .works-container__column-item[id='wcci-1']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/nails_2.png");
  }
  .works-container__column-item[id='wcci-2']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/nails_3.png");
  }
  .works-container__column-item[id='wcci-3']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/nails_4.png");
  }
  .works-container__column-item[id='wcci-4']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/eye_1.png");
  }
  .works-container__column-item[id='wcci-5']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/nails_5.png");
  }
  .works-container__column-item[id='wcci-6']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/eye_2.png");
  }
  .works-container__column-item[id='wcci-7']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/eye_3.png");
  }
  .works-container__column-item[id='wcci-8']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/nails_6.png");
  }
  .works-container__column-item[id='wcci-9']{
    width: calc-px(170px);
    height: calc-px(170px);
    background: url("./assets/img/works/nails_7.png");
  }
}





